Esercizi di programmazione/WebServices/WebService_Vianello/DeskAppWS_Vianello/Web References/localhost/Websrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Elenco_Breve">
        <s:complexType />
      </s:element>
      <s:element name="Elenco_BreveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elenco_BreveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Elenco_Esteso">
        <s:complexType />
      </s:element>
      <s:element name="Elenco_EstesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elenco_EstesoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Modifica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="y" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Elenco_BreveSoapIn">
    <wsdl:part name="parameters" element="tns:Elenco_Breve" />
  </wsdl:message>
  <wsdl:message name="Elenco_BreveSoapOut">
    <wsdl:part name="parameters" element="tns:Elenco_BreveResponse" />
  </wsdl:message>
  <wsdl:message name="Elenco_EstesoSoapIn">
    <wsdl:part name="parameters" element="tns:Elenco_Esteso" />
  </wsdl:message>
  <wsdl:message name="Elenco_EstesoSoapOut">
    <wsdl:part name="parameters" element="tns:Elenco_EstesoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificaSoapIn">
    <wsdl:part name="parameters" element="tns:Modifica" />
  </wsdl:message>
  <wsdl:message name="ModificaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebsrvSoap">
    <wsdl:operation name="Elenco_Breve">
      <wsdl:input message="tns:Elenco_BreveSoapIn" />
      <wsdl:output message="tns:Elenco_BreveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Elenco_Esteso">
      <wsdl:input message="tns:Elenco_EstesoSoapIn" />
      <wsdl:output message="tns:Elenco_EstesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <wsdl:input message="tns:ModificaSoapIn" />
      <wsdl:output message="tns:ModificaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebsrvSoap" type="tns:WebsrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Elenco_Breve">
      <soap:operation soapAction="http://tempuri.org/Elenco_Breve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Elenco_Esteso">
      <soap:operation soapAction="http://tempuri.org/Elenco_Esteso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <soap:operation soapAction="http://tempuri.org/Modifica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebsrvSoap12" type="tns:WebsrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Elenco_Breve">
      <soap12:operation soapAction="http://tempuri.org/Elenco_Breve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Elenco_Esteso">
      <soap12:operation soapAction="http://tempuri.org/Elenco_Esteso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <soap12:operation soapAction="http://tempuri.org/Modifica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Websrv">
    <wsdl:port name="WebsrvSoap" binding="tns:WebsrvSoap">
      <soap:address location="http://localhost:59723/Websrv.asmx" />
    </wsdl:port>
    <wsdl:port name="WebsrvSoap12" binding="tns:WebsrvSoap12">
      <soap12:address location="http://localhost:59723/Websrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>